html, body, .dark, .light, #svg-mask {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.dark, .light {
  top: -10px;
  bottom: -10px;
}

body {
  -webkit-perspective: 500px;
          perspective: 500px;
  transition: all 0.4s ease-out;
  overflow: hidden;
}
body > * {
  -webkit-transform: translateZ(10px);
          transform: translateZ(10px);
}

#svg-mask {
  width: 100%;
  height: 100%;
}

.light {
  -webkit-animation: horror 18s infinite ease;
          animation: horror 18s infinite ease;
  background: #fdf2f4;
  background-image: url("https://zephyo.github.io/22Days/code/20/graphics/girls2.jpg");
}
.light:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: inherit;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  -webkit-filter: brightness(0.95);
          filter: brightness(0.95);
  -webkit-animation: glitch 8s infinite ease;
          animation: glitch 8s infinite ease;
}

.dark {
  background: #242525;
  background-image: url("https://zephyo.github.io/22Days/code/20/graphics/girls1.jpg");
}

.dark, .light {
  z-index: -1;
  background-position: 50% 30%;
  background-size: contain;
  background-repeat: no-repeat;
}

@-webkit-keyframes horror {
  10%,32% {
    opacity: 1;
  }
  33%,34% {
    opacity: 0.2;
  }
  35%, 95% {
    opacity: 1;
  }
  96%,100% {
    opacity: 0;
  }
}

@keyframes horror {
  10%,32% {
    opacity: 1;
  }
  33%,34% {
    opacity: 0.2;
  }
  35%, 95% {
    opacity: 1;
  }
  96%,100% {
    opacity: 0;
  }
}
@-webkit-keyframes glitch {
  0% {
    clip: rect(2px, 9999px, 33px, 0);
  }
  10% {
    clip: rect(65px, 9999px, 295px, 0);
  }
  20% {
    clip: rect(34px, 9999px, 77px, 0);
  }
  30% {
    clip: rect(204px, 9999px, 277px, 0);
  }
  40% {
    clip: rect(212px, 9999px, 170px, 0);
  }
  50% {
    clip: rect(166px, 9999px, 233px, 0);
  }
  60% {
    clip: rect(39px, 9999px, 253px, 0);
  }
  70% {
    clip: rect(39px, 9999px, 46px, 0);
  }
  80% {
    clip: rect(49px, 9999px, 138px, 0);
  }
  90% {
    clip: rect(88px, 9999px, 136px, 0);
  }
  100% {
    clip: rect(57px, 9999px, 231px, 0);
  }
}
@keyframes glitch {
  0% {
    clip: rect(2px, 9999px, 33px, 0);
  }
  10% {
    clip: rect(65px, 9999px, 295px, 0);
  }
  20% {
    clip: rect(34px, 9999px, 77px, 0);
  }
  30% {
    clip: rect(204px, 9999px, 277px, 0);
  }
  40% {
    clip: rect(212px, 9999px, 170px, 0);
  }
  50% {
    clip: rect(166px, 9999px, 233px, 0);
  }
  60% {
    clip: rect(39px, 9999px, 253px, 0);
  }
  70% {
    clip: rect(39px, 9999px, 46px, 0);
  }
  80% {
    clip: rect(49px, 9999px, 138px, 0);
  }
  90% {
    clip: rect(88px, 9999px, 136px, 0);
  }
  100% {
    clip: rect(57px, 9999px, 231px, 0);
  }
}
